/*-------------header-------------*/
.nav-item{
   
   
    border-radius: 10%;
    margin: 0px 3px 0px 3px;
}
.nav-item .nav-link:hover{
    color: #ffffff;
    background-color: #3f434a;
}
.nav-link{
    color: #8a94a1;
}
/*--------------main--------------*/
.row{
    background-color: rgba(137, 43, 226, 0.597);
}
.col-5 .col-7{
    border: solid rgb(49, 16, 80) 3px;

}